.page-header {
  font-size: 1.2rem;
}

.navbar {
  padding-top: 22px;
  padding-bottom: 22px;
  margin-left: -13px;
  margin-right: -13px;
}

.page-header__navbar {
  background-color: $light-collor-1;
  
  .navbar-nav {
    // padding-left: 107px;
    // padding-right: 30px;
    & .nav-item {
      font-size: 1.2rem; 
      text-align: center;
      border-left: 1px solid $element-collor-1;
      flex-grow: 1;
      & a {
        // margin: 0 35px;
      }
    }
    >.nav-item:last-child {
       border-right: 1px solid $element-collor-1;
      }
    
  }
}

.page-header__navbar-search {
  border: 1px solid $element-collor-1;
  height: 50px;
}

.form-control {
  background-color: transparent;
  border: none;
}

.form-control:focus {
  background-color: transparent;
  border: none;
  outline: 0;
}

.page-header__navbar-search button {
  padding: 0;
  margin: 5px;
  border: 0;
}

.page-header__navbar-search .form-control 
{
  width: 10rem;
}

.page-header__navbar-search i {
  display: block;
  padding: 10px;
  background-color: $element-collor-1;
  color: $light-collor-2;
}

.btn:not(:disabled):not(.disabled) {
  border-radius: 0;
}

.navbar-collapse button {
  padding: 0;
  border: 0;
}

.page-header__btn-submit {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  background-color: $light-collor-2;
  color: $element-collor-1;
}

.fa-shopping-cart {
  font-size: 1.5rem;
}


.page-header__carousel {
  border-bottom: 1px solid $light-collor-2;
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border: 1px solid $light-collor-2;
  background-color: transparent;
}

.carousel-item{
  & h3 {
    line-height: 6;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 200;
  }
}

.dropdown-menu {
  background-color: $element-collor-1;
  border-radius: 0;
  left: -2px;
  top: 42px;

  & .dropdown-item {
    color: $light-collor-2;
  }
}


.page-header__navbar .dropdown.show{
  background-color: $element-collor-1;

  & a:hover,
  a:focus {
      background-color: $light-collor-2;
      color: $element-collor-1;
    }
}

.page-header__cart-counter {
  display: none;
}
