
.left-sidebar {
	font-size: 1.2rem;
	border-right: 1px solid $light-collor-2;
	background-color: rgba(255, 255, 255, 0.3);
	color: $light-collor-2;
	padding: 15px 30px 30px;

	&__more {
		display: block;
		color: $light-collor-2;
		margin-bottom: 30px;
		font-size: 1.2rem;
	}

	&__btn-submit {
		border: 1px solid $light-collor-2;
		background-color: $element-collor-1;
	}
}

fieldset {
	margin-bottom: 1rem;

	& legend {
		font-weight: bold;
	}
}

.form-check {
	margin: 10px 0;
}


.main-content {
	margin-top: 20px;

	& .items-wrapper {
	position: relative;
	border: 1px solid $light-collor-2;
	margin-bottom: 30px;

		& .items-image {
			display: flex;
			overflow: hidden;
			height: 180px;
			background-color:  rgba(255, 255, 255, 0.75);
			align-items: center;
			justify-content: center;

		}

		& .item-title {
			font-size: 1.75rem;
			color: $light-collor-2;
			margin-top: 0.5rem;
		}
		
		& .item-description {
			font-size: 1.25rem;
			color: $light-collor-2;
			margin-bottom: 0.5rem;
			line-height: 1.5rem;
		}

		& .item-options {
			font-size: 1.25rem;
			color: $light-collor-2;
			line-height: 1.75rem;
			margin-top: 15px;

			& span {
				display: block;
				margin-top: 7px;
				margin-bottom: 7px;
			}
		}

		.item-price {
			font-size: 2rem;
			color: $light-collor-2;
			text-align: center;
			font-weight: bold;
		}
		
		.item-buttons {
			margin: 15px;

			& .btn {
				font-weight: bold;
				border: 1px solid $light-collor-2;
				text-transform: uppercase;
				margin-bottom: 30px;
				padding: 10px;
				background-color: transparent;
				font-size: 1.15rem;

				& .fas {
					font-size: 1rem;

				}
			}

			& .item-button__cart {
				margin-bottom: 30px;
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}
